pin-depends: [
  [ "vif.dev" "git+https://github.com/robur-coop/vif.git#3fb86c53bc56d3af78ce5df76b285a2b476e39ad" ]
  [ "vifu.dev" "git+https://github.com/robur-coop/vif.git#3fb86c53bc56d3af78ce5df76b285a2b476e39ad" ]
  [ "zarith.dev" "git+https://github.com/mirage/Zarith.git#df8969d9bb95cffca13e31a615189ab27ada0684" ]
]
